<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>simpleMap</title>
</head>
<body>
<div id="map_div">
    <input id="start" placeholder="출발"><input id="end" placeholder="도착">
</div>

<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxbdfdd87e0bf5471baced0304dc59376e"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(() => {
        initLocation();
    })

    function initTmap(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        const map = new Tmapv2.Map("map_div", {
            center: new Tmapv2.LatLng(latitude, longitude), // 지도 초기 좌표
            width: "95vw",
            height: "95vh",
            zoom: 19 //처음 로드될 때부터 내 위치 크게 보여주기
        });
        new Tmapv2.Marker({
            position: new Tmapv2.LatLng(latitude, longitude), //Marker의 중심좌표 설정
            animation: Tmapv2.MarkerOptions.ANIMATE_BOUNCE_ONCE,
            // icon: "/images/pin.png",  //FIXME: 적당한 마커 이미지 필요
            map: map //Marker가 표시될 Map 설정
        });
    }

    function error(error) {
        console.error(error);
    }

    function GeoLocationSetting() {
        return {
            enableHighAccuracy: true,
            maximumAge: 0,
            timeout: Infinity
        }
    }

    function initLocation() {
        if (!navigator.geolocation) {
            console.log("GPS를 지원하지 않습니다");
        } else {
            navigator.geolocation.getCurrentPosition(initTmap, error, GeoLocationSetting);
        }
    }
</script>
</body>
</html>


