<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Home</title>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxbdfdd87e0bf5471baced0304dc59376e"></script>
    <script type="text/javascript">
        function initTmap(){
            if (navigator.geolocation) { // GPS를 지원하면
                navigator.geolocation.getCurrentPosition(function(position) {
                    //현재위치의 위도, 경도
                    curLoc = new Tmapv2.LatLng(
                        position.coords.latitude,
                        position.coords.longitude
                    );

                    var map = new Tmapv2.Map("map_div",
                        {
                            center: curLoc, // 지도 초기 좌표
                            width: "890px",
                            height: "400px",
                            zoom: 15
                        });

                    //현재 위치 마커
                    var marker = new Tmapv2.Marker({
                        position: curLoc,
                        map: map
                    });

                }, function(error) {
                    console.error(error);
                    // alert(error.code);
                }, {
                    enableHighAccuracy: false,
                    maximumAge: 0,
                    timeout: Infinity
                });
            } else {
                alert('GPS를 지원하지 않습니다');
            }
        }
    </script>
</head>
<body onload="initTmap()">
<div id="map_div"></div>
<h1>확인용 h1 태그~~</h1>

</body>
</html>
