#search_box {
    height: 50px;
    width: 610px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    position:absolute;
    z-index: 2;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.menu_bar_icon {
    float: left;
    margin: 16px 10px 16px 20px;
    padding-right: 15px;
    border-right: 2px solid #bbb;
}

.search_icon {
    float: left;
    margin: 16px 0px 16px 20px;
}

#search_box_input {
    float: left;
    width: 80%;
    height: 35px;
    margin: 8px 0px 8px 0px;
    border: 0px;
    padding: 0px 10px 0px 5px;
}

#search_box_input::placeholder {
    font-weight: 600;
    letter-spacing: 1px;
  }

#search_log_box {
    position:absolute;
    z-index: 2;
    height: auto;
    width: 610px;
    margin: 10px;
    margin-top: 60px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#search_log_box li {
    height: 42px;
}

#search_log_box li:hover {
    background-color: rgb(248, 248, 248);
}

#search_log_box li p {
    float: left;
    margin: 9px;
}

.log_icon {
    float: left;
    margin: 12px 20px 12px 20px;
    font-size: 17px;
    color: #777;
}

.favorite_icon {
    float: right;
    margin: 11px 0px 11px 20px;
    font-size: 13px;
}

.clear_box {
    width: auto;
    height: 35px;
}

.btn {
    border: none;
    float: right;
    background-color: rgba(0, 0, 0, 0);
    color: #777;
    cursor: pointer;
}

.clear_btn {
    margin: 9px;
    margin-right: 30px;
}

.remove_btn {
    margin: 13px 20px 13px 15px;
}

.search_icon {
    margin: 0px;
    font-size: 18px;
}

.submit_btn {
    margin: 15px;
    float: left;
}